@layer reset {

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
    [role="list"] {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    body {
        min-block-size: 100vh;
    }


    h1,
    h2,
    h3,
    h4 {
        text-wrap: balance;
    }

    p,
    li {
        text-wrap: pretty;
    }

    img,
    picture {
        max-inline-size: 100%;
        display: block;
    }

    input,
    button,
    textarea,
    select {
        font: inherit;
    }
}

@layer base {
    :root {
        /* Primary */
        --purple-600: hsl(246, 80%, 60%);

        /* Category color */
        --work: hsl(15, 100%, 70%);
        --play: hsl(195, 74%, 62%);
        --study: hsl(348, 100%, 68%);
        --exercise: hsl(145, 58%, 55%);
        --social: hsl(264, 64%, 52%);
        --self-care: hsl(43, 84%, 65%);

        /* Neutral */
        --navy-950: hsl(226, 43%, 10%);
        --navy-900: hsl(235, 46%, 20%);
        --purple-500: hsl(235, 45%, 61%);
        --navy-200: hsl(236, 100%, 87%);

        --font-primary: "Rubik", sans-serif;

        /* Font weights */
        --fw-light: 300;
        --fw-regular: 400;
        --fw-medium: 500;

        /* Font sizes */
        --fs-800: 56px;
        --fs-700: 40px;
        --fs-600: 32px;
        --fs-500: 24px;
        --fs-400: 18px;
        --fs-300: 15px;

        /* Line heights */
        --lh-1: 66px;
        --lh-2: 47px;
        --lh-3: 38px;
        --lh-4: 28px;
        --lh-5: 21px;
        --lh-6: 18px;

        /* Letter spacing */
        --ls-normal: 0px;

        .text-preset-800 {
            font: var(--fw-light) var(--fs-800) / var(--lh-1);
        }

        .text-preset-700 {
            font: var(--fw-light) var(--fs-700) / var(--lh-2);
        }

        .text-preset-600 {
            font: var(--fw-light) var(--fs-600) / var(--lh-3);
        }

        .text-preset-500 {
            font: var(--fw-light) var(--fs-500) / var(--lh-4);
        }

        .text-preset-400-medium {
            font: var(--fw-medium) var(--fs-400) / var(--lh-5);
        }

        .text-preset-400-regular {
            font: var(--fw-regular) var(--fs-400) / var(--lh-5);
        }

        .text-preset-300 {
            font: var(--fw-regular) var(--fs-300) / var(--lh-6);
        }
    }

    h1 {
        font-size: var(--fs-500);
        font-weight: var(--fw-light);
        line-height: var(--lh-4);
        color: #fff;
    }

    h2 {
        font-size: var(--fs-400);
        font-weight: var(--fw-medium);
        line-height: var(--lh-5);
        color: #fff;
    }


    h3 {
        font-size: var(--fs-600);
        font-weight: var(--fw-light);
        line-height: var(--lh-3);
        color: #fff;
    }

    p {
        font-size: var(--fs-300);
        font-weight: var(--fw-regular);
        line-height: var(--lh-6);
        color: var(--navy-200);
    }

    body {
        font-size: var(--fs-400);
        background-color: var(--navy-950);
        font-family: var(--font-primary);
        color: var(--navy-200);
        /* display: grid; */
        /* place-items: center; */
        padding-inline: clamp(1rem, 4vw, 2.5rem);
        padding-block: 5rem;
    }
}

@layer components {

    activity-card,
    profile-card {
        display: contents;
    }

    main {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(auto-fit, minmax(0, 327px));
        justify-content: center;
    }

    .header-card {
        display: grid;
        grid-column: 1/-1;
        /* grid-row: 1/2; */
        gap: 1.5rem;
        background-color: var(--navy-900);
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        /* width: 327px; */
        border-radius: 20px;
    }

    [role="tab"] {
        font-size: var(--fs-400);
        font-weight: var(--fw-regular);
        color: var(--purple-500);
        line-height: var(--lh-5);
        background-color: inherit;
        border: none;
        cursor: pointer;
        padding-inline: 1.5rem;
        width: 109px;
    }

    [role="tab"][aria-selected="true"] {
        color: #fff;

    }

    .header-card__title {
        background-color: var(--purple-600);
        padding: 2rem;
        border-radius: 20px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1.5rem;
    }

    .header-card__title img {
        width: 4rem;
        height: 4rem;
        border: 3px solid #fff;
        border-radius: 50%;
    }

    .header-card__tabs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .header-card__tabs .active {
        color: #fff;
    }

    .card {
        border-radius: 1rem;
        color: #fff;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        overflow: hidden;

    }

    .card__image {

        min-width: 100%;
        display: grid;
        grid-template-columns: auto;
        padding-right: 20px;
        padding-bottom: 11px;
        grid-row: 1/2;
        grid-column: 1/2;
        max-height: 40px;
    }

    .card__image img {
        justify-self: end;
        margin-bottom: 11px;
        margin-top: -11px;
        z-index: 1;
    }

    .card__content {
        background-color: var(--navy-900);
        border-radius: 1rem 1rem 0 0;
        padding: 1.5rem;
        display: grid;
        gap: 1rem;
        z-index: 10;
        grid-row: 2/3;
        grid-column: 1/2;
        overflow: hidden;
        align-self: end;
        /* transform: translateY(1rem); */
    }

    .card__content:hover {
        background-color: #33397a;
    }

    .card__title,
    .card__description {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    .card__content-dots {
        display: grid;
        margin-right: auto;
    }

    .tf-change {
        animation: tfFade 200ms ease-out;
    }

    @keyframes tfFade {
        from {
            opacity: 0.6;
            transform: scale(0.8);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}

@layer media {
    @media (width > 768px) {
        main {
            grid-template-columns: repeat(3, minmax(auto, 188px));
            /* column-gap: 1.5rem; */
        }

        .card__description {
            grid-template-columns: 1fr;
            gap: 0.5rem;
        }

        h3 {
            font-size: var(--fs-800);
            line-height: var(--lh-1);
        }
    }

    @media (width > 1200px) {
        main {
            grid-template-columns: repeat(4, minmax(auto, 255px));
        }

        h1 {
            font-size: var(--fs-700);
            line-height: var(--lh-2);
        }

        .header-card {
            grid-column: 1/2;
            grid-row: span 2;
        }

        .header-card__title {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }

        .header-card__tabs {
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1.5rem;
        }

        .header-card__tabs button {
            text-align: start;
        }
    }
}